<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Just Do It — Settings</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="../css/settingsPopover.css">
    </head>
    <body>
        <div id="settings">
            <h1>Just Do It !</h1>

            <enable-extension
                inline-template
            >
                <div
                    class="enable-extension"
                    @click="toggleEnabled"
                    :class="{ enabled: enabled }"
                >
                    Block the following websites :
                </div>
            </enable-extension>

            <websites-list
                :websites="websites"
                inline-template
            >
                <div class="websites-list">
                    <ul class="websites-list">
                        <li v-for="(website, index) in websites">
                            <span class="delete-button" @click="remove(index)">&times;</span>
                            {{ website }}
                        </lI>
                    </ul>

                    <form @submit.prevent="addWebsite">
                        <input type="text" v-model="addedWebsite" placeholder="Add a website... (e.g. : facebook.com)">
                        <input type="submit" value="+">
                    </form>
                </div>
            </websites-list>
        </div>

        <script src="../js/vue.js"></script>
        <script src="../js/settingsPopover.js"></script>
    </body>
</html>
