<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Nicolas Ettlin</string>
	<key>Builder Version</key>
	<string>12602.2.14.0.7</string>
	<key>CFBundleDisplayName</key>
	<string>JustDoIt</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.justdoit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>html/settingsPopover.html</string>
				<key>Height</key>
				<integer>500</integer>
				<key>Identifier</key>
				<string>settingsPopover</string>
				<key>Width</key>
				<integer>350</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>toolbarButton</string>
				<key>Image</key>
				<string>img/toolbar.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Just Do It !</string>
				<key>Palette Label</key>
				<string>Just Do It !</string>
				<key>Popover</key>
				<string>settingsPopover</string>
				<key>Tool Tip</key>
				<string>Just Do It !</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>This extension prevents websites from wasting your time.</string>
	<key>DeveloperIdentifier</key>
	<string>W47E2LS5Y9</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/Nicolapps/JustDoIt</string>
</dict>
</plist>
