<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>["twitter.com", "youtube.com"]</string>
		<key>Key</key>
		<string>blockedWebsites</string>
		<key>Title</key>
		<string>JSON debug</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>isEnabled</string>
		<key>Title</key>
		<string>isEnabled</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
</array>
</plist>
